<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>

  <!-- tailwindcss -->
  <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
  <title>Document</title>
</head>
<body>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var messages = {{ messages | tojson | safe
    }};
    alert(messages.join('\n'));
          });
  </script>
  {% endif %}
  {% endwith %}

  <!-- <div class="container">
    <h1>로그인</h1>
    <form action="/login" method="POST">
      <label for="username">아이디</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" required>
      <br>
      <input type="submit" value="로그인">
    </form>
  </div>
  <br>
  <button onclick="location.href='register'">회원가입</button> -->

  <div class="min-h-full flex flex-col justify-center items-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="../static/img/shopping_reji_gyouretsu_man.png" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">로그인</h2>
    </div>
    <br>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="/login" method="POST">
        <div>
          <label for="username" class="block text-sm font-medium leading-6 text-gray-900">아이디</label>
          <div class="mt-2">
            <input type="text" id="username" name="username" placeholder="실명" required
              style="border: 1px solid black"><br>
          </div>
        </div>
        <br>
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">비밀번호</label>
          </div>
          <div class="mt-2">
            <input id="password" name="password" type="password" autocomplete="current-password" required
              style="border: 1px solid black"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>  
        <input type="submit" value="로그인" class="bg-indigo-600">
      </form>
      <br>

      <button onclick="location.href='register'">회원가입</button>
    </div>
  </div>

</body>
</html>